.catalog_block{
    display:block;
    height: 100px;
    background-size:100% 100%;
    text-align: left;
    text-decoration-line: blink;
    text-shadow: -1px 1px 0 #FFFFFF;
}
.catalog_container{
    display: flex;
    flex-direction: row;
}
.owl-prev-local{
    position: relative;
    right:-45%;
    border: none;
    background: none;
}
.owl-next-local{
    position: relative;
    left: 45%;
    border: none;
    background: none;
}
.owl-height-local{
    height:50%;
    width:100%;
}