.catalog_block-main{
    text-decoration-line: blink;
    text-shadow: -1px 1px 0 #FFFFFF;
    text-align: center;
}
.catalog_container{
    display: flex;
    flex-direction: row;
}
.block-container-main{
     height: 100px;
     background-size:100% 100%;
     display: flex;
     align-items: flex-end;
 }
.owl-prev-local{
    position: relative;
    right:-45%;
    border: none;
    background: none;
}
.owl-next-local{
    position: relative;
    left: 45%;
    border: none;
    background: none;
}
.owl-height-local{
    height:50%;
    width:100%;
}
